
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balance Enquiry</title>
    <style>
      body{
    background-color:white;
}
  
    </style>
</head>
<body>
    <div class="balancect">
        <h2>Balance:  <span  class="balance">{{balance}}</span></h2>
            <a href="/home"style="color:#12192C;">Back</a>
    </div>

    </script>
</body>
</html>
