
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balance Enquiry</title>
    <style>
      body{
    background-color:#85FFBD ;
}
#container
{
    border:1px solid black;
    border-radius:15px;
    margin-top:20%;
    height:fit-content;
    display:flex;
    background-color: #12192C;
    flex-flow:column wrap;
}
  
    </style>
</head>
<body>
    <div class="balancect">
        <h2>Balance:  <span  class="balance">{{balance}}</span></h2>
            <a href="/home"style="color:white;">Back</a>
    </div>

    </script>
</body>
</html>
